* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.design-section {
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  border: 0;
}

.navbar-image {
  width: 100%;
}

.hero-image {
  width: 100%;
}

.newsletter-image {
  width: 100%;
}

.mentors-image {
  width: 100%;
}

.join-image {
  width: 100%;
}

.footer-image {
  width: 100%;
}